.productThumb{
  width: 300px;
  height: 300px;
}

.productContainer{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .productContainer>div{
  display: flex;
  flex-direction: column;
  gap: 8px;
} */

.productContainer p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.productList{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
}

.productList li{
  width: 30%;
}

/* .productList li>div{
  display: flex;
  flex-direction: column;
  gap: 15px;
} */


.navContainer{
  width: 50%;
}

.card{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cartDiv{
  display: flex;

}

.cartDiv img{
  width: 150px;
  height: 150px;
}

.checkboxContainer{
  padding: 16px;
  border: 1px solid grey;
  margin: 12px;
}

.checkboxContainer:hover{
  border: 1px solid yellow;
}

.checkboxContainer input[type="checkbox"]{
  display: none;
}

.checkboxContainer:has(input[type="checkbox"]:checked){
  border: 1px solid blue;
}

#cartForm{
  display: flex;
  justify-content: space-between;
}

.padSpace{
  padding: 15px;
}